@mixin font-face ($font-family, $font-weight, $font-style, $src) {
    @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $src;
    font-display: swap;
  }
}

@mixin upper-text () {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $second-color-text;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
