/* здесь используйте глобальные переменные */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

$base-color-text: #444444;
$second-color-text: #000000;
$third-color-text: #ffffff;
$fourth-color-text: #111111;

$primary-bg-color: #68b738;
$secondary-bg-color: #f2f2f2;
