.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  &--primary {
    color: $third-color-text;
    background-color: $primary-bg-color;
  }

  &--secondary {
    color: $base-color-text;
    background-color: $secondary-bg-color;
  }

  // &--card {
  //   // здесь будет код
  // }
}
