.field-group__label {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
}

.field-group__item {
  &::before {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    right: 0;
    top: 50%;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    background-color: $fifth-color-text;
  }

  &--email {
    position: relative;

    &::before {
      content: "";
      mask-image: url("../../images/icons/stack.svg#email-stroke");
    }
  }

  &--phone {
    position: relative;

    // .field-group__label {
    //   position: relative;

    //   &::before {
    //     content: "";
    //     mask-image: url("../../images/icons/stack.svg#email-stroke");
    //     position: absolute;
    //     display: block;
    //     width: 20px;
    //     height: 20px;
    //     right: 0;
    //     top: 50%;
    //     mask-repeat: no-repeat;
    //     mask-size: 20px 20px;
    //     background-color: $fifth-color-text;
    //   }
    // }

    &::before {
      content: "";
      mask-image: url("../../images/icons/stack.svg#phone-stroke");
    }
  }
}
