.field {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  color: $base-color-text;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: right 12px center;

  &::placeholder {
    color: $base-color-text;
  }

  &--email {
    background-image: url("../../images/icons/stack.svg#email-stroke");
  }

  &--phone {
    background-image: url("../../images/icons/stack.svg#phone-stroke");
  }
}
