.functioning {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.functioning__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    @include grid;
  }

  @media (min-width: $desktop-width) {
    @include grid (4);
  }
}

.functioning__item {
  position: relative;

  // @media (min-width: $tablet-width) {
  //   max-width: 354px;
  // }

  // @media (min-width: $desktop-width) {
  //   max-width: 250px;
  // }
}

.functioning__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $primary-bg-color;
}
