.hero {
  margin-bottom: 20px;
  background: linear-gradient(180deg, $primary-bg-color--opacity, $primary-bg-color--opacity 67%, transparent 33%, transparent);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.hero__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $third-color-text;
  text-transform: uppercase;
}
