.programmes {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programmes__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programmes__item {
  width: 100%;
  margin-bottom: 20px;
  background-color: $secondary-bg-color;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }
}

.programmes__picture {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $primary-bg-color;
  border-radius: 50%;
}

.programmes__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
