.program-form__description {
  font-family: $secondary-font;
  color: $second-color-text;
  text-transform: uppercase;
}

.program-form__legend {
  line-height: 16px;
  color: $second-color-text;
  text-align: center;

  small {
    font-size: inherit;
  }
}
